*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.navbar{
  background-color: #343A40 ;
  height: 55px;

}
.navbarMenu{
  display: flex;


}
.firstItem{
    font-size: 1.25rem;
    margin-right: 20px;
}
.navbarMenu li{
    display: inline-block;
    margin-right: 10px;
}
.navbarMenu li a{
    color: #fff;
    text-decoration: none;
    align-items: baseline;

}
.dropdown-menu li a{
    color: #000 !important;
}
.btn-secondary{
    --bs-btn-bg:#343A40 !important;
    border-color: #343A40 !important;
}
.a{
    color: #676B6D !important;
}
.fa-solid{
    color: #fff;
}
.btn{
    margin: 0px 10px 0px 10px;
    border-color: green;
    color: green;
}
.btn-outline-primary:hover{
    background-color: green ;
    border-color: green;
}
.dropdown > a{
    margin-bottom: 10px;
}
.navbarSearch{
    margin-bottom: 25px;
}
.mainSection{
    background-color: #E9ECEF;
    width: 100%;
    height: 400px;
    
}
.aboutMain h1{
    padding-top: 50px;
}
.aboutMain a{
    color: #fff;
    width: 140px;
    height: 45px;
}
.aboutMain a:hover{
    color: #E9ECEF !important;
}
.aboutMain h1{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.footerInfo a{
margin-left: 0px;
color: #fff;
background-color: #676B6D;
}
.footerInfo a:hover{
    background-color: #5A6268;
}
.footerInfo{
    padding-top: 30px;
}
.greenStick{
    margin-top: 80px;
}